@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
body {
  background: #1a1a1a;
  color: #767676;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 15px;
}
input {
  &::placeholder {
    color: #535353 !important;
    opacity: 0.7 !important;
  }
  &::-webkit-input-placeholder {
    color: #535353 !important;
    opacity: 0.7 !important;
  }
}

.btn-dark {
  background: #282828;
  border-color: #282828;
  display: flex;
  padding: 8px 20px;
  justify-content: center;
  align-items: center;
  min-width: 100px;
  color: #767676;
  font-size: 15px;
  &:hover {
    background-color: #262626;
    border-color: #262626;
  }
}
.form-control {
  height: 42px;
  background: none;
  border-color: #282828;
  font-size: 15px;
  color: #535353;
  &:focus {
    color: #495057;
    background: none;
    border-color: #282828;
    outline: 0;
    // box-shadow:none;
  }
}
.select2-dropdown {
  background-color: #282828;
  border: 1px solid #282828;
}
.select2-container--default {
  .select2-search--dropdown {
    .select2-search__field {
      border: 1px solid #1a1a1a;
      background: #1a1a1a;
      color: #767676;
    }
  }
  .select2-results__option--highlighted.select2-results__option--selectable {
    background-color: #353535;
    color: #767676;
  }
}

header {
  margin-bottom: 10px;
  &.home-header {
    .navbar {
      background: none !important;
      padding: 10px 0;
      border-bottom: 1px solid #282828;
      .navbar-brand {
        img {
          width: 120px;
        }
      }
      .navbar-collapse {
        justify-content: flex-end;
        .navbar-nav {
          li {
            position: relative;
            margin-left: 50px;
            a {
              color: #767676;
              font-weight: 500;
              .create {
                display: flex;
                align-items: center;
                img {
                  width: 20px;
                  margin-right: 5px;
                }
              }

              &.dropdown-toggle {
                cursor: pointer;
                &:after {
                  display: none;
                }
              }
              &:hover {
                text-decoration: none;
                color: #6fccdd;
              }
            }
            .dropdown-menu {
              background: #282828;
              border: 1px solid #282828;
              right: 0;
              left: auto;
              .dropdown-item {
                color: #767676;
                &:hover {
                  background: #353535;
                  color: #767676;
                }
              }
            }
            &.active {
              a {
                color: #6fccdd;
              }
            }
          }
        }
      }
    }
  }
}
.header-bottom {
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #282828;
    padding-bottom: 10px;
    margin-bottom: 20px;
    li {
      margin-right: 30px;
      a {
        color: #767676;
        font-weight: 500;
        &:hover {
          text-decoration: none;
          color: #6fccdd;
        }
      }
      &.active {
        a {
          color: #6fccdd;
        }
      }
      .search {
        input {
          background: none;
          border: none;
          color: #767676;
          font-weight: 500;
          padding-left: 5px;
          &:focus {
            outline: none;
            box-shadow: none;
          }
          &::-webkit-input-placeholder {
            color: #767676 !important;
            opacity: 1 !important;
          }
          &::placeholder {
            color: #767676 !important;
            opacity: 1 !important;
          }
        }
      }
    }
  }
}

.inline-form {
  display: flex;
  align-items: flex-end;
  .btn {
    margin-left: 15px;
  }
}

.main-div {
  display: flex;
  padding-bottom: 50px;
  justify-content: space-between;
  margin-top: 20px;
  .left {
    width: calc(100% - 320px);
    .add-media {
      .form-control {
        width: calc(100% - 140px);
      }
    }

    .elements {
      margin-top: 30px;
      h4 {
        color: #ff3399;
        margin-bottom: 15px;
        font-weight: 100;
        font-size: 23px;
      }
      .nav-tabs {
        border: none;
        li {
          a {
            color: #767676;
            font-size: 19px;
            &.active {
              background: #282828;
              color: #767676;
              border-color: #282828;
            }
            &:hover {
              border: 1px solid transparent;
            }
          }
        }
      }
      .tab-content {
        background: #282828;
        padding: 10px;
        border-radius: 0px 4px 4px 4px;
        .block {
          display: flex;
          justify-content: space-between;
          .box {
            width: calc(25% - 5px);
          }
        }
        .form-control {
          background: #1a1a1a;
          border-color: #1a1a1a;
        }
        .select2-container--default {
          .select2-selection--single {
            background-color: #1a1a1a;
            border: 1px solid #1a1a1a;
            border-radius: 4px;
            height: 42px;
            .select2-selection__rendered {
              color: #535353;
              line-height: 42px;
              font-size: 15px;
            }
            .select2-selection__arrow {
              height: 42px;
              b {
                border-color: #767676 transparent transparent transparent;
                border-style: solid;
                border-width: 5px 4px 0 4px;
              }
            }
          }
        }
      }
    }

    .effects {
      margin-top: 30px;
      h4 {
        color: #6fccdd;
        margin-bottom: 15px;
        font-size: 23px;
        font-weight: 100;
      }
    }
    .synergies {
      margin-top: 30px;
      h4 {
        color: #767676;
        margin-bottom: 15px;
        font-size: 23px;
        font-weight: 100;
      }
      .select2-container--default {
        width: 200px !important;
        .select2-selection--single {
          background-color: #1a1a1a;
          border: 1px solid #282828;
          border-radius: 4px;
          height: 42px;
          margin-left: 15px;
          .select2-selection__rendered {
            color: #535353;
            line-height: 42px;
            font-size: 15px;
          }
          .select2-selection__arrow {
            height: 42px;
            b {
              border-color: #767676 transparent transparent transparent;
              border-style: solid;
              border-width: 5px 4px 0 4px;
            }
          }
        }
      }
    }

    .reports-notes {
      .btn {
        font-size: 19px;
        font-weight: 300;
        max-width: 200px;
        width: 100%;
        justify-content: space-between;
      }
      textarea.form-control {
        resize: none;
      }
    }

    .add-more-details {
      .row {
        margin-left: -7.5px;
        margin-right: -7.5px;
        .col-md-6,
        .col-md-3,
        .col-md-4 {
          padding-left: 7.5px;
          padding-right: 7.5px;
          margin-bottom: 15px;
        }
      }
      .btn {
        font-size: 19px;
        font-weight: 300;
        max-width: 200px;
        width: 100%;
        justify-content: space-between;
      }
      .inner-box {
        margin-bottom: 20px;
        h4 {
          color: #6fccdd;
          margin-bottom: 15px;
          font-size: 23px;
          font-weight: 100;
          i {
            color: #767676;
            margin-left: 10px;
          }
        }
        .box {
          .select2-container--default {
            width: 100% !important;
            .select2-selection--single {
              background-color: #1a1a1a;
              border: 1px solid #282828;
              border-radius: 4px;
              height: 42px;
              .select2-selection__rendered {
                color: #535353;
                line-height: 42px;
                font-size: 15px;
              }
              .select2-selection__arrow {
                height: 42px;
                b {
                  border-color: #767676 transparent transparent transparent;
                  border-style: solid;
                  border-width: 5px 4px 0 4px;
                }
              }
            }
          }
        }
      }
    }
    .btn-div {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      .btn {
        margin-left: 15px;
        font-size: 17px;
        &:last-child {
          background: #1d4248;
          color: #fff;
          border-color: #1d4248;
          &:hover {
            background: #0d3238;
            border-color: #0d3238;
          }
        }
      }
    }
  }

  .right {
    text-align: right;
    max-width: 270px;
    width: 100%;
    .error-box {
      margin-bottom: 20px;
      p {
        margin: 0;
        color: #ff3399;
        font-size: 13px;
      }
    }
    .r-box {
      margin-bottom: 20px;
      h4 {
        font-size: 21px;
        color: #353535;
        font-weight: 700;
        margin-bottom: 15px;
      }
      .tag-box {
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
        .tag {
          font-size: 13px;
          color: #ffffff;
          background: #400d26;
          border: 1px solid #ff3399;
          position: relative;
          border-radius: 3px;
          padding: 2px 10px;
          margin-left: 15px;
          margin-bottom: 5px;
          i {
            position: absolute;
            background: #400d26;
            border: 1px solid #ff3399;
            color: #ff3399;
            border-radius: 50%;
            width: 15px;
            height: 15px;
            right: -9px;
            top: 4px;
            font-size: 10px;
            line-height: 12px;
            text-align: center;
          }
        }
      }

      &.second-element {
        .tag-box {
          .tag {
            background: #262626;
            border: 1px solid #6fccdd;
            i {
              background: #262626;
              border: 1px solid #6fccdd;
              color: #6fccdd;
            }
          }
        }
      }

      &.third-element {
        .tag-box {
          .tag {
            border-color: #282828;
            font-size: 11px;
            color: #767676;
            background: none;
            padding: 4px 10px;
            display: flex;
            align-items: center;
            margin: 0;
            width: 100%;
            span {
              position: absolute;
              right: 15px;
              bottom: 5px;
            }
            i {
              border-color: #282828;
              color: #767676;
              background: #1a1a1a;
              top: 7px;
              width: 20px;
              height: 20px;
              line-height: 17px;
              padding-left: 1px;
            }
            img {
              width: 25px;
              height: 25px;
              border-radius: 50%;
              margin-right: 10px;
            }
            span {
              font-size: 9px;
              color: #767676;
            }
          }
        }
      }
    }
  }
}

/************************login form****************************/

.login-form {
  border: 1px solid #282828;
  padding: 25px 40px;
  text-align: center;
  margin-top: 20px;
  margin: 20px auto 0;
  max-width: 470px;

  h3 {
    font-size: 24px;
    color: #353535;
    font-weight: 600;
  }
  h5 {
    font-size: 16px;
    font-weight: 500;
    margin: 10px 0 30px;
  }
  .form-group {
    input {
      background: #fff;
      border-color: #fff;
    }
    &.password {
      position: relative;
      input {
        padding-right: 30px;
      }
      span {
        position: absolute;
        right: 15px;
        top: 10px;
        opacity: 0.5;
        cursor: pointer;
      }
    }
  }
  .forgot-signin {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
    a {
      color: #767676;
    }
    .btn {
      background: #1d4248;
      border-color: #1d4248;
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  p {
    color: #767676;
    a {
      color: #6fccdd;
      font-weight: 500;
    }
  }
  &.regster-form {
    .forgot-signin {
      justify-content: flex-end;
    }
    p {
      &:last-child {
        font-size: 12px;
        a {
          color: #767676;
          text-decoration: underline;
          font-weight: normal;
        }
      }
    }
  }
}
/******************************* end ************************/

/********************** experience **************************/

.experiences {
  margin-top: 15px;
  .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
    h2 {
      font-size: 22px;
      color: #353535;
    }
    .dropdown {
      .dropdown-toggle {
        cursor: pointer;
        font-size: 22px;
        color: #353535;
        &:after {
          display: none;
        }
      }

      .dropdown-menu {
        background: #282828;
        border: 1px solid #282828;
        right: 0;
        left: auto;
        .dropdown-item {
          color: #767676;
          &:hover {
            background: #353535;
            color: #767676;
          }
        }
      }
    }
  }
  .row {
    margin-left: -10px;
    margin-right: -10px;
    .col-xl-3,
    .col-lg-4,
    .col-md-6 {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  .inner-block {
    border: 1px solid #282828;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px;
    .top {
      background: #282828;
      padding: 5px 10px 10px;
      align-items: flex-start;
      margin: 0;
      min-height: 55px;
      .left {
        span {
          font-size: 13px;
          color: #767676;
          opacity: 0.5;
        }
        h4 {
          margin: 0;
          font-size: 14px;
          width: calc(100% - 1px);
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
      .right {
        .date {
          font-size: 13px;
          color: #767676;
          opacity: 0.5;
          margin: 0;
        }
      }
    }
    .middle {
      padding: 10px;
      min-height: 113px;
      h4 {
        font-size: 14px;
        margin: 0 0 5px;
        font-weight: normal;
        width: calc(100% - 1px);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        &.purple {
          color: #ff3399;
        }
        &.blue {
          color: #6fccdd;
        }
      }
      .bob-dylan {
        border: 1px solid #282828;
        border-radius: 5px;
        padding: 5px;
        display: flex;
        position: relative;
        margin-top: 10px;
        img {
          max-width: 30px;
          border-radius: 5px;
          margin-right: 10px;
        }
        p {
          margin: 5px 0 0;
          font-size: 12px;
        }
        span {
          position: absolute;
          right: 10px;
          font-size: 12px;
          bottom: 2px;
        }
      }
    }
    .bottom {
      background: #282828;
      padding: 6px 10px;
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: flex-end;
        li {
          margin-left: 5px;
          font-size: 10px;
          color: #6fccdd;
          display: flex;
          align-items: flex-end;
          i {
            font-size: 16px;
            color: #767676;
            margin-right: 3px;
          }
          &.up {
            color: #ff3399;
            i {
              color: #767676;
            }
          }
        }
      }
    }
  }
  .btn-center {
    display: flex;
    justify-content: center;
    margin: 20px 0;
  }
}

.elements-tags {
  margin-top: 15px;
  .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    h2 {
      font-size: 22px;
      color: #353535;
    }
    a {
      font-size: 22px;
      color: #353535;
      text-decoration: underline;
    }
  }
  .tags {
    display: flex;
    flex-wrap: wrap;
    a {
      font-size: 14px;
      color: #ffffff;
      background: #400d26;
      border: 1px solid #ff3399;
      position: relative;
      border-radius: 5px;
      padding: 2px 12px;
      margin-right: 18px;
      margin-bottom: 18px;
      &:hover,
      &.active {
        text-decoration: none;
        border-color: #400d26;
      }
    }
  }
  &.effects-tags {
    margin-top: 30px;
    .tags {
      a {
        background: #262626;
        border: 1px solid #6fccdd;
        &:hover,
        &.active {
          text-decoration: none;
          border-color: #262626;
        }
      }
    }
  }
}

.right-element {
  margin-top: 15px;
  .right-box {
    background: #282828;
    border-radius: 10px;
    padding: 15px;
    img {
      width: 100%;
      height: 200px;
      object-fit: cover;
      border-radius: 10px;
    }
    h6 {
      margin: 10px 0 0;
      font-size: 14px;
      font-weight: 500;
      a {
        color: #767676;
        text-decoration: underline;
      }
    }
    .inner-block {
      margin: 14px 0 0;
      height: 248px;
      overflow: auto;
      .top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 10px;
        margin-bottom: 13px;
        h2 {
          margin: 0;
          color: #ff3399;
          font-weight: 400;
          font-size: 22px;
          line-height: 24px;
        }
        i {
          font-size: 18px;
        }
      }
      .box {
        margin-bottom: 10px;
        span {
          display: block;
          margin-bottom: 3px;
          font-size: 14px;
        }
        p {
          margin: 0;
          color: #aeaeae;
          line-height: normal;
          font-size: 14px;
        }
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
  .btn {
    width: 100%;
    margin-top: 10px;
    font-size: 18px;
  }
}

.synergies-block {
  margin-top: 30px;
  margin-bottom: 30px;
  & > .row {
    max-height: 370px;
    overflow: auto;
  }
  .row {
    margin-left: -10px;
    margin-right: -10px;
    .col-lg-4,
    .col-md-6 {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    h2 {
      font-size: 22px;
      color: #353535;
    }
    a {
      font-size: 22px;
      color: #353535;
      text-decoration: underline;
    }
  }
  .box {
    border: 1px solid #282828;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    margin-bottom: 20px;
    .left {
      margin-right: 15px;
      img {
        max-width: 80px;
      }
    }
    .right {
      width: calc(100% - 95px);
      & > .top-sec {
        display: flex;
        justify-content: space-between;
        p {
          margin: 0;
          line-height: 15px;
          display: block;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          width: calc(100% - 20px);
        }
        i {
          margin-left: 5px;
        }
        .purple {
          color: #ff3399;
        }
      }
      span {
        font-size: 13px;
        display: block;
        color: #353535;
        margin: 5px 0;
      }
      h6 {
        color: #ff3399;
        font-size: 14px;
        margin: 0;
        display: block;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
      span.name {
        color: #767676;
        text-align: right;
        margin: 5px 0 0;
      }
    }
  }
}

.dark-popup,
.jw-modal {
  .modal-dialog {
    max-width: 650px;
  }
  .modal-content {
    background: #282828;
    border-color: #282828;
  }
  .modal-body {
    padding: 0;
    .filter-popup {
      .filter-sec {
        display: flex;
        .block {
          width: 37%;
          padding: 15px;
          &:first-child {
            width: 26%;
          }
          &:nth-child(2n) {
            border-left: 1px solid #1a1a1a;
            border-right: 1px solid #1a1a1a;
          }
          h3 {
            color: #1a1a1a;
            font-size: 21px;
            font-weight: 600;
            margin: 0 0 10px;
          }
          .custom-checkbox {
            cursor: pointer;
            .custom-control-label {
              font-weight: normal;
              &:before {
                border: 1px solid #767676;
                background: none;
              }
            }
            .custom-control-input {
              &:focus {
                box-shadow: none;
                outline: none;
              }
            }
            .custom-control-input:checked ~ .custom-control-label::before {
              border-color: #767676;
              background-color: #767676;
            }
            .custom-control-input:focus ~ .custom-control-label::before {
              box-shadow: none;
            }
          }
        }
      }
      .btn-sec {
        border-top: 1px solid #1a1a1a;
        padding: 10px 0;
        display: flex;
        justify-content: center;
        .btn {
          background: #1a1a1a;
          border-color: #1a1a1a;
          padding: 5px 35px;
        }
      }
    }
  }
}

@media (max-width: 1199.98px) {
  .main-div {
    .left {
      .elements {
        .tab-content {
          .block {
            flex-wrap: wrap;
            .box {
              width: calc(50% - 5px);
              margin-bottom: 10px;
              .select2-container--default {
                width: 100% !important;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 991.98px) {
  header.home-header {
    .navbar {
      .navbar-toggler {
        color: #282828;
        border-color: #282828;
        .navbar-toggler-icon {
          background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(40,40,40,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
        }
      }
      .navbar-collapse {
        position: absolute;
        top: 63px;
        background: #1a1a1a;
        width: 100%;
        z-index: 999;
        .navbar-nav {
          padding: 20px 10px;
          li {
            margin-left: 0;
            a {
              &.dropdown-toggle {
                font-size: 18px;
              }
            }
          }
        }
      }
    }
  }
  .main-div {
    flex-wrap: wrap-reverse;
    flex-direction: row-reverse;
    .left {
      width: 100%;
      margin-top: 50px;
    }
    .right {
      text-align: left;
      max-width: 100%;
      .r-box {
        .tag-box {
          justify-content: flex-start;
          .tag {
            margin-left: 0;
            margin-right: 15px;
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .synergies-block,
  .elements-tags {
    .top {
      h2,
      a {
        font-size: 20px;
      }
    }
  }
  .experiences {
    .top {
      h2 {
        font-size: 20px;
      }
      .dropdown {
        .dropdown-toggle {
          font-size: 20px;
        }
      }
    }
  }
  .right-element {
    .right-box {
      .inner-block {
        .top {
          h2 {
            font-size: 22px;
            line-height: 22px;
          }
        }
      }
    }
  }
  .dark-popup {
    .modal-dialog {
      max-width: 90%;
    }
  }
}

@media (max-width: 576px) {
  .header-bottom {
    ul {
      li {
        margin-right: 20px;
        .search {
          input {
            max-width: 100px;
          }
        }
      }
    }
  }
  .login-form {
    padding: 25px;
  }
  .dark-popup {
    .modal-dialog {
      max-width: 100%;
    }
    .modal-body {
      .filter-popup {
        .filter-sec {
          flex-wrap: wrap;
          .block {
            width: 100%;
            border: none;
          }
        }
      }
    }
  }
}

@media (max-width: 479px) {
  .inline-form {
    display: block;
    .form-control {
      margin-bottom: 10px;
    }
    .btn {
      width: 100%;
      margin: 0;
    }
  }
  .main-div {
    .left {
      .elements {
        .tab-content {
          .block {
            .box {
              width: 100%;
              .select2-container--default {
                width: 100% !important;
              }
            }
          }
        }
        .inline-form {
          .btn {
            margin-top: 10px;
          }
        }
      }
      .add-media {
        .form-control {
          width: 100%;
          margin-bottom: 10px;
        }
      }
      .synergies {
        .select2-container--default {
          width: 100% !important;
          .select2-selection--single {
            margin-left: 0;
            margin-bottom: 10px;
          }
        }
      }
      .add-more-details,
      .reports-notes {
        .btn {
          max-width: 100%;
        }
      }
      .btn-div {
        justify-content: space-between;
        .btn {
          margin-left: 0;
          width: calc(50% - 5px);
        }
      }
    }
  }
  .header-bottom {
    ul {
      flex-wrap: wrap;
      li {
        .search {
          background: #282828;
          margin-top: 10px;
          border-radius: 5px;
          width: 100%;
          padding: 5px 10px;
          input {
            max-width: 200px;
          }
        }
        &:last-child {
          width: 100%;
          margin: 0;
        }
      }
    }
  }
}
