<header class="home-header">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">
                <img src="../../assets/img/Logo.svg" alt="" />
            </a>
            <div *ngIf="userLoggedIn">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
                    aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                    <ul class="navbar-nav  mt-2 mt-lg-0">
                        <li class="nav-item">
                            <div class="dropdown">
                                <a class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-user-circle"></i>
                                    <span>Cobraholic</span>
                                    <i class="fa fa-angle-down"></i>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                            </div>
                        </li>
                    </ul>

                </div>
            </div>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo03" *ngIf="!userLoggedIn">
                <ul class="navbar-nav  mt-2 mt-lg-0">
                    <li class="nav-item ">
                        <a class="nav-link" href="#">forum</a>
                    </li>
                    <li class="nav-item" [routerLinkActive]="['active']">
                        <a class="nav-link" routerLink="/create">
                            <div class="create"><img src="../../assets/img/plus_icon.svg" alt="" /> create</div>
                        </a>
                    </li>
                    <li class="nav-item" [routerLinkActive]="['active']">
                        <a class="nav-link" routerLink="/signup">sign up</a>
                    </li>
                    <li class="nav-item" [routerLinkActive]="['active']">
                        <a class="nav-link" routerLink="/signin">sign in</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>
<div class="header-bottom">
    <div class="container">
        <ul>
            <li [routerLinkActive]="['active']"><a routerLink="/trends">trends</a></li>
            <li [routerLinkActive]="['active']"><a routerLink="/experiences">experiences</a></li>
            <li><a data-toggle="modal" data-target="#exampleModalCenter" href="javascript:void(0)">filter <i
                        class="fa fa-angle-down"></i></a></li>
            <li>
                <div class="search">
                    <span><i class="fa fa-search"></i></span>
                    <input type=text name="" placeholder="search">
                </div>
            </li>
        </ul>
    </div>
</div>

<div class="modal dark-popup fade" id="exampleModalCenter" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">

            <div class="modal-body">
                <div class="filter-popup">

                    <div class="filter-sec">
                        <div class="block">
                            <h3>source</h3>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck" name="example1">
                                <label class="custom-control-label" for="customCheck">plant</label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck1" name="example1">
                                <label class="custom-control-label" for="customCheck1">fungus</label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck2" name="example1">
                                <label class="custom-control-label" for="customCheck2">animal</label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck3" name="example1">
                                <label class="custom-control-label" for="customCheck3">laboratory</label>
                            </div>

                        </div>
                        <div class="block">
                            <h3>effect</h3>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck4" name="example1">
                                <label class="custom-control-label" for="customCheck4">stimuland / upper</label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck5" name="example1">
                                <label class="custom-control-label" for="customCheck5">depressant / downer</label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck6" name="example1">
                                <label class="custom-control-label" for="customCheck6">psychedelic</label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck7" name="example1">
                                <label class="custom-control-label" for="customCheck7">dissociative</label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck8" name="example1">
                                <label class="custom-control-label" for="customCheck8">deliriant</label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck9" name="example1">
                                <label class="custom-control-label" for="customCheck9">nootropic</label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck10" name="example1">
                                <label class="custom-control-label" for="customCheck10">neurogenesis</label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck11" name="example1">
                                <label class="custom-control-label" for="customCheck11">brain nutrient</label>
                            </div>

                        </div>
                        <div class="block">
                            <h3>source</h3>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck12" name="example1">
                                <label class="custom-control-label" for="customCheck12">tripping</label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck13" name="example1">
                                <label class="custom-control-label" for="customCheck13">partying</label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck14" name="example1">
                                <label class="custom-control-label" for="customCheck14">creativity / inspiration</label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck15" name="example1">
                                <label class="custom-control-label" for="customCheck15">meditation / spritiual</label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck16" name="example1">
                                <label class="custom-control-label" for="customCheck16">sex / yoga /tantra</label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck17" name="example1">
                                <label class="custom-control-label" for="customCheck17">socializing / confidence</label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck18" name="example1">
                                <label class="custom-control-label" for="customCheck18">focus / modivation</label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck19" name="example1">
                                <label class="custom-control-label" for="customCheck19">endurance</label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck20" name="example1">
                                <label class="custom-control-label" for="customCheck20">memory</label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck21" name="example1">
                                <label class="custom-control-label" for="customCheck21">health / welness</label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck22" name="example1">
                                <label class="custom-control-label" for="customCheck22">lucid / dreaming</label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck23" name="example1">
                                <label class="custom-control-label" for="customCheck23">psychonautics</label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck24" name="example1">
                                <label class="custom-control-label" for="customCheck24">perceptional</label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck25" name="example1">
                                <label class="custom-control-label" for="customCheck25">dimensional</label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck26" name="example1">
                                <label class="custom-control-label" for="customCheck26">astral projection</label>
                            </div>

                        </div>

                    </div>

                    <div class="btn-sec">
                        <button class="btn btn-dark">Submit</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>