<div class="container">
    <div class="experiences">
        <div class="top">
            <h2>experiences</h2>
            <div class="dropdown">
                <a class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    <span>sort by date</span>
                    <i class="fa fa-angle-down"></i>
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">accending</a>
                    <a class="dropdown-item" href="#">decending</a>
                    <a class="dropdown-item" href="#">date</a>
                </div>
            </div>
        </div>       
        <div class="overlay">
            <div class="spinner-border" role="status" *ngIf="!isExperienceProcessed">
                <span class="sr-only">Please wait! Loading...</span>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-3 col-lg-4 col-md-6" *ngFor="let element of experiences">
                <div class="inner-block">
                    <div class="top">
                        <div class="left">
                            <span>{{element.user}}</span>
                            <h4>{{element.title}}</h4>
                        </div>
                        <div class="right">
                            <p class="date">{{formatUIDate(element.created_at)}}</p>
                        </div>
                    </div>
                    <div class="middle">
                        <h4 class="purple"><span>{{element.experience_elements}}</span></h4>
                        <h4 class="blue"><span>{{element.experience_effects}}</span></h4>
                        <div class="bob-dylan" *ngFor="let synergies of element.experience_synergies">
                            <img [src]="synergies.image" alt="" />
                            <p>{{synergies.title}}</p>
                            <span>{{synergies.category_title}}</span>
                        </div>
                    </div>
                    <div class="bottom">
                        <ul>
                            <li><i class="fa fa-envelope"></i> 2</li>
                            <li class="up"><i class="fa fa-arrow-up"></i> 2</li>
                            <li><i class="fa fa-arrow-down"></i> 10</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="btn-center">
            <button class="btn btn-dark" [disabled]="apiDenied == true" (click)="fetchExperiences()">load more</button>
        </div>
    </div>
</div>