<div class="container">
    <div class="experiences">
        <div class="top">
            <h2>experiences</h2>
            <div class="dropdown">
                <a class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    <span>sort by date</span>
                    <i class="fa fa-angle-down"></i>
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">accending</a>
                    <a class="dropdown-item" href="#">decending</a>
                    <a class="dropdown-item" href="#">date</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="inner-block">
                    <div class="top">
                        <div class="left">
                            <span>by danninova</span>
                            <h4>skunk night drive</h4>
                        </div>
                        <div class="right">
                            <p class="date">25.03.20</p>
                        </div>
                    </div>
                    <div class="middle">
                        <h4 class="purple">cannabis, zanax, pepsi, princols</h4>
                        <h4 class="blue">zanax, pepsi, princols</h4>
                        <div class="bob-dylan">
                            <img src="../../assets/images/img.jpg" alt="" />
                            <p>pop dylan - like a rolling stone</p>
                            <span>music</span>
                        </div>
                    </div>
                    <div class="bottom">
                        <ul>
                            <li><i class="fa fa-envelope"></i> 2</li>
                            <li class="up"><i class="fa fa-arrow-up"></i> 2</li>
                            <li><i class="fa fa-arrow-down"></i> 10</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="inner-block">
                    <div class="top">
                        <div class="left">
                            <span>by danninova</span>

                        </div>
                        <div class="right">
                            <p class="date">25.03.20</p>
                        </div>
                    </div>
                    <div class="middle">
                        <h4 class="purple">princols</h4>
                        <h4 class="blue">pepsi</h4>

                    </div>
                    <div class="bottom">
                        <ul>
                            <li><i class="fa fa-envelope"></i> 2</li>
                            <li class="up"><i class="fa fa-arrow-up"></i> 2</li>
                            <li><i class="fa fa-arrow-down"></i> 10</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="inner-block">
                    <div class="top">
                        <div class="left">
                            <span>by danninova</span>

                        </div>
                        <div class="right">
                            <p class="date">25.03.20</p>
                        </div>
                    </div>
                    <div class="middle">
                        <h4 class="purple">princols</h4>
                        <h4 class="blue">pepsi</h4>

                    </div>
                    <div class="bottom">
                        <ul>
                            <li><i class="fa fa-envelope"></i> 2</li>
                            <li class="up"><i class="fa fa-arrow-up"></i> 2</li>
                            <li><i class="fa fa-arrow-down"></i> 10</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="inner-block">
                    <div class="top">
                        <div class="left">
                            <span>by danninova</span>

                        </div>
                        <div class="right">
                            <p class="date">25.03.20</p>
                        </div>
                    </div>
                    <div class="middle">
                        <h4 class="purple">princols</h4>
                        <h4 class="blue">pepsi</h4>

                    </div>
                    <div class="bottom">
                        <ul>
                            <li><i class="fa fa-envelope"></i> 2</li>
                            <li class="up"><i class="fa fa-arrow-up"></i> 2</li>
                            <li><i class="fa fa-arrow-down"></i> 10</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="inner-block">
                    <div class="top">
                        <div class="left">
                            <span>by danninova</span>
                            <h4>skunk night drive</h4>
                        </div>
                        <div class="right">
                            <p class="date">25.03.20</p>
                        </div>
                    </div>
                    <div class="middle">
                        <h4 class="purple">cannabis, zanax, pepsi, princols</h4>
                        <h4 class="blue">zanax, pepsi, princols</h4>
                        <div class="bob-dylan">
                            <img src="../../assets/images/img.jpg" alt="" />
                            <p>pop dylan - like a rolling stone</p>
                            <span>music</span>
                        </div>
                    </div>
                    <div class="bottom">
                        <ul>
                            <li><i class="fa fa-envelope"></i> 2</li>
                            <li class="up"><i class="fa fa-arrow-up"></i> 2</li>
                            <li><i class="fa fa-arrow-down"></i> 10</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="inner-block">
                    <div class="top">
                        <div class="left">
                            <span>by danninova</span>

                        </div>
                        <div class="right">
                            <p class="date">25.03.20</p>
                        </div>
                    </div>
                    <div class="middle">
                        <h4 class="purple">princols</h4>
                        <h4 class="blue">pepsi</h4>

                    </div>
                    <div class="bottom">
                        <ul>
                            <li><i class="fa fa-envelope"></i> 2</li>
                            <li class="up"><i class="fa fa-arrow-up"></i> 2</li>
                            <li><i class="fa fa-arrow-down"></i> 10</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="inner-block">
                    <div class="top">
                        <div class="left">
                            <span>by danninova</span>

                        </div>
                        <div class="right">
                            <p class="date">25.03.20</p>
                        </div>
                    </div>
                    <div class="middle">
                        <h4 class="purple">princols</h4>
                        <h4 class="blue">pepsi</h4>

                    </div>
                    <div class="bottom">
                        <ul>
                            <li><i class="fa fa-envelope"></i> 2</li>
                            <li class="up"><i class="fa fa-arrow-up"></i> 2</li>
                            <li><i class="fa fa-arrow-down"></i> 10</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="inner-block">
                    <div class="top">
                        <div class="left">
                            <span>by danninova</span>

                        </div>
                        <div class="right">
                            <p class="date">25.03.20</p>
                        </div>
                    </div>
                    <div class="middle">
                        <h4 class="purple">princols</h4>
                        <h4 class="blue">pepsi</h4>

                    </div>
                    <div class="bottom">
                        <ul>
                            <li><i class="fa fa-envelope"></i> 2</li>
                            <li class="up"><i class="fa fa-arrow-up"></i> 2</li>
                            <li><i class="fa fa-arrow-down"></i> 10</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="inner-block">
                    <div class="top">
                        <div class="left">
                            <span>by danninova</span>
                            <h4>skunk night drive</h4>
                        </div>
                        <div class="right">
                            <p class="date">25.03.20</p>
                        </div>
                    </div>
                    <div class="middle">
                        <h4 class="purple">cannabis, zanax, pepsi, princols</h4>
                        <h4 class="blue">zanax, pepsi, princols</h4>
                        <div class="bob-dylan">
                            <img src="../../assets/images/img.jpg" alt="" />
                            <p>pop dylan - like a rolling stone</p>
                            <span>music</span>
                        </div>
                    </div>
                    <div class="bottom">
                        <ul>
                            <li><i class="fa fa-envelope"></i> 2</li>
                            <li class="up"><i class="fa fa-arrow-up"></i> 2</li>
                            <li><i class="fa fa-arrow-down"></i> 10</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="inner-block">
                    <div class="top">
                        <div class="left">
                            <span>by danninova</span>

                        </div>
                        <div class="right">
                            <p class="date">25.03.20</p>
                        </div>
                    </div>
                    <div class="middle">
                        <h4 class="purple">princols</h4>
                        <h4 class="blue">pepsi</h4>

                    </div>
                    <div class="bottom">
                        <ul>
                            <li><i class="fa fa-envelope"></i> 2</li>
                            <li class="up"><i class="fa fa-arrow-up"></i> 2</li>
                            <li><i class="fa fa-arrow-down"></i> 10</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="inner-block">
                    <div class="top">
                        <div class="left">
                            <span>by danninova</span>

                        </div>
                        <div class="right">
                            <p class="date">25.03.20</p>
                        </div>
                    </div>
                    <div class="middle">
                        <h4 class="purple">princols</h4>
                        <h4 class="blue">pepsi</h4>

                    </div>
                    <div class="bottom">
                        <ul>
                            <li><i class="fa fa-envelope"></i> 2</li>
                            <li class="up"><i class="fa fa-arrow-up"></i> 2</li>
                            <li><i class="fa fa-arrow-down"></i> 10</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="inner-block">
                    <div class="top">
                        <div class="left">
                            <span>by danninova</span>

                        </div>
                        <div class="right">
                            <p class="date">25.03.20</p>
                        </div>
                    </div>
                    <div class="middle">
                        <h4 class="purple">princols</h4>
                        <h4 class="blue">pepsi</h4>

                    </div>
                    <div class="bottom">
                        <ul>
                            <li><i class="fa fa-envelope"></i> 2</li>
                            <li class="up"><i class="fa fa-arrow-up"></i> 2</li>
                            <li><i class="fa fa-arrow-down"></i> 10</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="btn-center">
            <button class="btn btn-dark">load more</button>
        </div>
    </div>
</div>