<!-- <div class="jw-modal dark-popup" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <ng-content></ng-content>
            </div>
        </div>
    </div>
</div> -->
<!-- <div class="jw-modal-background"></div> -->

<!-- <div class="modal dark-popup fade" id="exampleModalCenter" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <ng-content></ng-content>
            </div>
        </div>
    </div>
</div> -->

<div class="jw-modal">
    <div class="jw-modal-body">
        <ng-content></ng-content>
    </div>
</div>
<div class="jw-modal-background"></div>