<div class="filter-popup">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
        <div class="filter-sec">

            <div class="block">
                <h3>source</h3>
                <div class="custom-control custom-checkbox" *ngFor="let source of sources; let i=index">
                    <input type="checkbox" class="custom-control-input" [value]="source.id" id="{{ 'chkSource' + i }}"
                        (change)="onCategoryChange($event)">
                    <label class="custom-control-label" for="{{ 'chkSource' + i }}">{{source.title}}</label>
                </div>
            </div>

            <div class="block">
                <h3>effect</h3>
                <div class="custom-control custom-checkbox" *ngFor="let effect of effects; let i=index">
                    <input type="checkbox" class="custom-control-input" [value]="effect.id" id="{{ 'chkEffect' + i }}"
                        (change)="onEffectChange($event)">
                    <label class="custom-control-label" for="{{ 'chkEffect' + i }}">{{effect.title}}</label>
                </div>
            </div>

            <div class="block">
                <h3>application</h3>
                <div class="custom-control custom-checkbox" *ngFor="let app of applications; let i=index">
                    <input type="checkbox" class="custom-control-input" [value]="app.id" id="{{ 'chkApp' + i }}"
                        (change)="onApplicationChange($event)">
                    <label class="custom-control-label" for="{{ 'chkApp' + i }}">{{app.title}}</label>
                </div>
            </div>
        </div>
        <div class="btn-sec">
            <button class="btn btn-dark" [disabled]="!anyChkSelected">Submit</button>
        </div>
    </form>
</div>