<header class="home-header">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">
        <img src="../../assets/img/Logo.svg" alt="" />
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
        aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav  mt-2 mt-lg-0">
          <!-- <li class="nav-item active">
              <a class="nav-link" href="#">Forun  <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Create</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Journal</a>
            </li> -->
          <li class="nav-item">
            <div class="dropdown">
              <a class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                <i class="fa fa-user-circle"></i>
                <span>Cobraholic</span>
                <i class="fa fa-angle-down"></i>
              </a>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </div>
          </li>
        </ul>

      </div>
    </nav>
  </div>
</header>

<div class="container">
  <div class="main-div">
    <div class="left">
      <div class="add-media inline-form">
        <input type="text" class="form-control" placeholder="title" [(ngModel)]="title" />
        <button class="btn btn-dark">add media</button>
      </div>

      <div class="elements">
        <h4>elements</h4>
        <div class="inline-form">
          <div>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" id="substance-tab" data-toggle="tab" href="#substance" role="tab"
                  aria-controls="substance" aria-selected="true">substance</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="product-tab" data-toggle="tab" href="#product" role="tab"
                  aria-controls="product" aria-selected="false">product</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="brand-tab" data-toggle="tab" href="#brand" role="tab" aria-controls="brand"
                  aria-selected="false">brand</a>
              </li>
            </ul>
            <div class="tab-content" id="myTabContent">
              <div class="tab-pane fade show active" id="substance" role="tabpanel" aria-labelledby="substance-tab">

                <div class="box mb-2">                                    
                  <div class="ng-autocomplete">
                    <ng-autocomplete [data]="elementNames" [searchKeyword]="keyword" class="form-control" placeHolder="name"
                      [(ngModel)]="element_name" [itemTemplate]="itemTemplate" [notFoundTemplate]="notFoundTemplate" (selected)='elementNameSelected($event)'>
                    </ng-autocomplete>

                    <ng-template #itemTemplate let-item>
                      <a [innerHTML]="item.Name"></a>
                    </ng-template>

                    <ng-template #notFoundTemplate let-notFound>
                      <div [innerHTML]="notFound"></div>
                    </ng-template>
                  </div>
                </div>
                <div class="block">
                  <div class="box">
                    <input type="text" class="form-control" name="type" [(ngModel)]="element_type" placeholder="type" />
                  </div>
                  <div class="box">
                    <input type="text" class="form-control" name="quantity" [(ngModel)]="element_quantity"
                      placeholder="quantity" />
                  </div>
                  <div class="box">
                    <select class="js-example-basic-single form-control" name="describe" [(ngModel)]="element_describe">
                      <option [ngValue]="null" [disabled]="true">i would describe it as</option>
                      <option *ngFor="let eff of elementEffects" [value]="eff.title">{{eff.title}}</option>
                    </select>
                  </div>
                  <div class="box">
                    <select class="js-example-basic-single form-control" name="helpe" [(ngModel)]="element_helpe">
                      <option [ngValue]="null" [disabled]="true">it has helped me with</option>
                      <option *ngFor="let app of elementApplications" [value]="app.title">{{app.title}}</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="product" role="tabpanel" aria-labelledby="product-tab">...</div>
              <div class="tab-pane fade" id="brand" role="tabpanel" aria-labelledby="brand-tab">...</div>
            </div>
          </div>
          <button class="btn btn-dark" (click)="elementAdd()">add</button>
        </div>

      </div>

      <div class="effects">
        <h4>effects</h4>
        <div class="inline-form">
          <input type="text" class="form-control" name="effects_name" [(ngModel)]="effects_name" placeholder="" />
          <button class="btn btn-dark" (click)="effectsAdd()">add</button>
        </div>
      </div>

      <div class="synergies">
        <h4>synergies</h4>
        <div class="inline-form">
          <input type="text" class="form-control" name="Url" [(ngModel)]="url" placeholder="http://" />
          <div class="box">
            <select name="category" [(ngModel)]="category" class="js-example-basic-single form-control">
              <option [ngValue]="null" [disabled]="true">select category</option>
              <option *ngFor="let cat of categories" [value]="cat.title">{{cat.title}}</option>
            </select>
          </div>
          <button class="btn btn-dark" (click)="synergiesAdd()">add</button>
        </div>
      </div>

      <div class="reports-notes mt-5">
        <button class="btn btn-dark mb-3" (click)="upDownClick('reportNotes')">report & notes <i class="fa fa-angle-up"
            *ngIf="!reportNotes"></i><i class="fa fa-angle-down" *ngIf="reportNotes"></i></button>
        <textarea class="form-control" *ngIf="!reportNotes" rows="4" [(ngModel)]="notes"></textarea>
      </div>

      <div class="add-more-details mt-5">
        <button class="btn btn-dark mb-3" (click)="upDownClick('addmore')">add more details <i class="fa fa-angle-up"
            *ngIf="!addmore"></i>
          <i class="fa fa-angle-down" *ngIf="addmore"></i></button>
        <div *ngIf="!addmore">
          <div class="inner-box">
            <h4 (click)="upDownClick('explorer')">explorer <i class="fa fa-angle-up" *ngIf="!explorer"></i>
              <i class="fa fa-angle-down" *ngIf="explorer"></i></h4>
            <div class="row" *ngIf="!explorer">
              <div class="col-md-4">
                <input class="form-control" name="" [(ngModel)]="ex_weight" placeholder="weight (kg)" />
              </div>
              <div class="col-md-4">
                <input class="form-control" name="" [(ngModel)]="ex_age" placeholder="age" />
              </div>
              <div class="col-md-4">
                <div class="box">
                  <select name="sex" [(ngModel)]="gender" class="js-example-basic-single form-control">
                    <option [ngValue]="null" [disabled]="true">select gender</option>
                    <option *ngFor="let sex of genders" [value]="sex.title">{{sex.title}}</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="inner-box">
            <h4 (click)="upDownClick('set')">set <i class="fa fa-angle-up" *ngIf="!set"></i>
              <i class="fa fa-angle-down" *ngIf="set"></i></h4>
            <div class="row" *ngIf="!set">
              <div class="col-md-6">
                <input class="form-control" [(ngModel)]="set_before" placeholder="min set before use" />
              </div>
              <div class="col-md-6">
                <input class="form-control" [(ngModel)]="set_expectations" placeholder="expectations" />
              </div>
            </div>
          </div>

          <div class="inner-box">
            <h4 (click)="upDownClick('setting')">setting <i class="fa fa-angle-up" *ngIf="!setting"></i>
              <i class="fa fa-angle-down" *ngIf="setting"></i></h4>
            <div class="row" *ngIf="!setting">
              <div class="col-md-6">
                <input class="form-control" [(ngModel)]="setting_location" placeholder="place of location" />
              </div>
              <div class="col-md-3">
                <input class="form-control" [(ngModel)]="setting_weather" placeholder="weather" />
              </div>
              <div class="col-md-3">
                <input class="form-control" [(ngModel)]="setting_atmosphere" placeholder="atmosphere" />
              </div>
              <div class="col-md-6">
                <input class="form-control" [(ngModel)]="setting_companions" placeholder="companions" />
              </div>
              <div class="col-md-6">
                <input class="form-control" [(ngModel)]="setting_other" placeholder="other" />
              </div>
            </div>
          </div>
          <div class="inner-box">
            <h4 (click)="upDownClick('effects')">effects in detail <i class="fa fa-angle-up" *ngIf="!effects"></i>
              <i class="fa fa-angle-down" *ngIf="effects"></i></h4>
            <div class="row" *ngIf="!effects">
              <div class="col-md-6">
                <input class="form-control" [(ngModel)]="effects_physical" placeholder="physical" />
              </div>
              <div class="col-md-6">
                <input class="form-control" [(ngModel)]="effects_emotional" placeholder="emotional" />
              </div>
              <div class="col-md-6">
                <input class="form-control" [(ngModel)]="effects_semantic" placeholder="semantic" />
              </div>
              <div class="col-md-6">
                <input class="form-control" [(ngModel)]="effects_meta_physical" placeholder="meta-physical" />
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="btn-div">
        <button class="btn btn-dark" (click)="submitInfo('personal')">submit personal</button>
        <button class="btn btn-dark" (click)="submitInfo('public')">submit public</button>
      </div>

    </div>

    <div class="right">
      <div class="error-box" *ngIf="Error">
        <p>{{errorMessage}}</p>
      </div>
      <div class="r-box" *ngIf="elements_array.length > 0 ">
        <h4>elements added</h4>
        <div class="tag-box">
          <div class="tag" *ngFor="let item of elements_array">
            {{item.name}}
            <i class="fa fa-close" (click)="remove(item.name,'elements')"></i>
          </div>
        </div>
      </div>
      <div class="r-box second-element" *ngIf="effects_array.length > 0 ">
        <h4>effects added</h4>
        <div class="tag-box">
          <div class="tag" *ngFor="let item of effects_array">
            {{item.effects}}
            <i class="fa fa-close" (click)="remove(item.effects,'effects')"></i>
          </div>
        </div>
      </div>
      <div class="r-box third-element" *ngIf="synergies_array.length > 0 ">
        <h4>synergies added</h4>
        <div class="tag-box">
          <div class="tag" *ngFor="let item of synergies_array">
            <img src="../../assets/img/user.jpg" alt="" />
            {{item.url}}
            <span>{{item.category}}</span>
            <i class="fa fa-close" (click)="remove(item.url,'synergies')"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>