<header class="home-header">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">
        <img src="../../assets/img/Logo.svg" alt="" />
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
        aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav  mt-2 mt-lg-0">
          <!-- <li class="nav-item active">
              <a class="nav-link" href="#">Forun  <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Create</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Journal</a>
            </li> -->
          <li class="nav-item">
            <div class="dropdown">
              <a class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                <i class="fa fa-user-circle"></i>
                <span>Cobraholic</span>
                <i class="fa fa-angle-down"></i>
              </a>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </div>
          </li>
        </ul>

      </div>
    </nav>
  </div>
</header>

<div class="container">
  <div class="main-div">
    <div class="left">
      <div class="add-media inline-form">
        <input type="text" class="form-control" name="" placeholder="" />
        <button class="btn btn-dark">add media</button>
      </div>

      <div class="elements">
        <h4>elements</h4>
        <div class="inline-form">
          <div>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" id="substance-tab" data-toggle="tab" href="#substance" role="tab"
                  aria-controls="substance" aria-selected="true">substance</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="product-tab" data-toggle="tab" href="#product" role="tab"
                  aria-controls="product" aria-selected="false">product</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="brand-tab" data-toggle="tab" href="#brand" role="tab" aria-controls="brand"
                  aria-selected="false">brand</a>
              </li>
            </ul>
            <div class="tab-content" id="myTabContent">
              <div class="tab-pane fade show active" id="substance" role="tabpanel" aria-labelledby="substance-tab">

                <div class="box mb-2">
                  <input type="text" class="form-control" name="" placeholder="name" />
                </div>
                <div class="block">
                  <div class="box">
                    <input type="text" class="form-control" name="" placeholder="type" />
                  </div>
                  <div class="box">
                    <input type="text" class="form-control" name="" placeholder="quantity" />
                  </div>
                  <div class="box">
                    <select class="js-example-basic-single form-control" name="">
                      <option value="AL">i would describe it as</option>

                    </select>
                  </div>
                  <div class="box">
                    <select class="js-example-basic-single form-control" name="">
                      <option value="AL">it has helped me with</option>

                    </select>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="product" role="tabpanel" aria-labelledby="product-tab">...</div>
              <div class="tab-pane fade" id="brand" role="tabpanel" aria-labelledby="brand-tab">...</div>
            </div>
          </div>
          <button class="btn btn-dark">add</button>
        </div>

      </div>

      <div class="effects">
        <h4>effects</h4>
        <div class="inline-form">
          <input type="text" class="form-control" name="" placeholder="" />
          <button class="btn btn-dark">add</button>
        </div>
      </div>

      <div class="synergies">
        <h4>synergies</h4>
        <div class="inline-form">
          <input type="text" class="form-control" name="" placeholder="" />
          <div class="box">
            <select class="js-example-basic-single form-control" name="">
              <option value="AL">category</option>
            </select>
          </div>
          <button class="btn btn-dark">add</button>
        </div>
      </div>

      <div class="reports-notes mt-5">
        <button class="btn btn-dark mb-3">report & notes <i class="fa fa-angle-up"></i></button>
        <textarea class="form-control" rows="4"></textarea>
      </div>

      <div class="add-more-details mt-5">
        <button class="btn btn-dark mb-3" (click)="addmoreclick()">add more details <i class="fa fa-angle-up"
            *ngIf="!addmore"></i>
          <i class="fa fa-angle-down" *ngIf="addmore"></i></button>
        <div *ngIf="!addmore">
          <div class="inner-box">
            <h4>explorer <i class="fa fa-angle-up"></i></h4>
            <div class="row">
              <div class="col-md-4">
                <input class="form-control" name="" placeholder="weight (kg)" />
              </div>
              <div class="col-md-4">
                <input class="form-control" name="" placeholder="age" />
              </div>
              <div class="col-md-4">
                <div class="box">
                  <select class="js-example-basic-single form-control" name="">
                    <option value="AL">Sex</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="inner-box">
            <h4>set <i class="fa fa-angle-up"></i></h4>
            <div class="row">
              <div class="col-md-6">
                <input class="form-control" name="" placeholder="min set before use" />
              </div>
              <div class="col-md-6">
                <input class="form-control" name="" placeholder="expectations" />
              </div>
            </div>
          </div>

          <div class="inner-box">
            <h4>setting <i class="fa fa-angle-up"></i></h4>
            <div class="row">
              <div class="col-md-6">
                <input class="form-control" name="" placeholder="place of location" />
              </div>
              <div class="col-md-3">
                <input class="form-control" name="" placeholder="weather" />
              </div>
              <div class="col-md-3">
                <input class="form-control" name="" placeholder="atmosphere" />
              </div>
              <div class="col-md-6">
                <input class="form-control" name="" placeholder="companions" />
              </div>
              <div class="col-md-6">
                <input class="form-control" name="" placeholder="other" />
              </div>
            </div>
          </div>
          <div class="inner-box">
            <h4>effects in detail <i class="fa fa-angle-up"></i></h4>
            <div class="row">
              <div class="col-md-6">
                <input class="form-control" name="" placeholder="physical" />
              </div>
              <div class="col-md-6">
                <input class="form-control" name="" placeholder="emotional" />
              </div>
              <div class="col-md-6">
                <input class="form-control" name="" placeholder="semantic" />
              </div>
              <div class="col-md-6">
                <input class="form-control" name="" placeholder="meta-physical" />
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="btn-div">
        <button class="btn btn-dark">submit personal</button>
        <button class="btn btn-dark">submit public</button>
      </div>

    </div>

    <div class="right">
      <div class="error-box">
        <p>error showing</p>
      </div>
      <div class="r-box">
        <h4>elements added</h4>
        <div class="tag-box">
          <div class="tag">
            hydroxychloroquine
            <i class="fa fa-close"></i>
          </div>
          <div class="tag">
            demerol
            <i class="fa fa-close"></i>
          </div>
        </div>
      </div>
      <div class="r-box second-element">
        <h4>effects added</h4>
        <div class="tag-box">
          <div class="tag">
            happy
            <i class="fa fa-close"></i>
          </div>
          <div class="tag">
            erotic
            <i class="fa fa-close"></i>
          </div>
        </div>
      </div>
      <div class="r-box third-element">
        <h4>synergies added</h4>
        <div class="tag-box">
          <div class="tag">
            <img src="../../assets/img/user.jpg" alt="" />
            bob dylan - like a rolling stone
            <span>music</span>
            <i class="fa fa-close"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>