<div class="container">
    <div class="row">
        <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2">
            <div class="login-form">
                <h3>sign in</h3>
                <h5>let's get started</h5>
                <form [formGroup]="form" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <input type="text" placeholder="email" formControlName="username" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                        <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                            <div *ngIf="f.username.errors.required">Username is required</div>
                        </div>
                    </div>
                    <div class="form-group password">
                        <input [type]="showPassword ? 'text' : 'password'" placeholder="password"
                            formControlName="password" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                        <span><i class="fa" [ngClass]="[showPassword?'fa-eye':'fa-eye-slash']"
                                (click)="togglePassword()"></i></span>
                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                            <div *ngIf="f.password.errors.required">Password is required</div>
                        </div>
                    </div>
                    <div class="forgot-signin">
                        <a href="#">forgot password?</a>
                        <button [disabled]="loading" class="btn btn-primary"> <span *ngIf="loading"
                                class="spinner-border spinner-border-sm mr-1"></span> sign in</button>
                    </div>
                    <p>don't have an account? <a routerLink="../signup">sign up</a></p>
                </form>
            </div>
        </div>
    </div>
</div>