<div class="container">
    <div class="row">
        <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2">
            <div class="login-form regster-form">
                <h3>sign up</h3>
                <h5>you are almost there!</h5>
                <form [formGroup]="form" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <input type="text" placeholder="nickname" formControlName="username" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                        <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                            <div *ngIf="f.username.errors.required">Username is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="text" placeholder="email" formControlName="email" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                            <div *ngIf="f.email.errors.required">Email is required</div>
                            <div *ngIf="f.email.errors.email">Please provide valid email address</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group password">
                                <input [type]="showPass? 'text' : 'password'" placeholder="password"
                                    formControlName="password" class="form-control"
                                    [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                                <span><i class="fa" [ngClass]="[showPass?'fa-eye':'fa-eye-slash']"
                                        (click)="togglePass()"></i></span>
                                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                    <div *ngIf="f.password.errors.required">Password is required</div>
                                    <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group password">
                                <input [type]="showConfirmPass? 'text' : 'password'" placeholder="confirm password"
                                    formControlName="confirmPassword" class="form-control"
                                    [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />
                                <span><i class="fa" [ngClass]="[showConfirmPass?'fa-eye':'fa-eye-slash']"
                                        (click)="toggleConfirmPass()"></i></span>
                                <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                                    <div *ngIf="f.confirmPassword.errors.required">Password is required</div>
                                    <div *ngIf="f.confirmPassword.errors.minlength">Password must be at least 6
                                        characters
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="forgot-signin">
                        <button class="btn btn-primary">sign up</button>
                    </div>
                    <p>have an account? <a routerLink="/signin">sign in</a></p>
                    <p>by signing up, you agree to our <a href="#">terms & conditions</a>.</p>
                </form>
            </div>
        </div>
    </div>
</div>