<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="elements-tags">

        <div class="top">
          <h2>elements</h2>
          <a href="javascript:void(0);">view all</a>
        </div>
        <div class="tags">
          <div class="overlay">
            <div class="spinner-border" role="status" *ngIf="elements.length===0">
              <span class="sr-only">Please wait! Loading...</span>
            </div>
          </div>
          <a href="javascript:void(0);" *ngFor="let element of elements;let i = index"
            [class.active]="selectedIndex === i" (click)="showElementDetail(element,i)">{{element.common_name}}</a>
        </div>
      </div>
      <div class="elements-tags effects-tags">
        <div class="top">
          <h2>effects</h2>
          <a href="javascript:void(0);">view all</a>
        </div>
        <div class="tags">
          <div class="overlay">
            <div class="spinner-border" role="status" *ngIf="effects.length===0">
              <span class="sr-only">Please wait! Loading...</span>
            </div>
          </div>
          <a href="javascript:void(0);" *ngFor="let eff of effects">{{eff.effect}}</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="right-element" *ngIf="selectedElement">
        <div class="right-box">
          <img [src]="selectedElement.imageUrl" alt="" />
          <h6>found in 215 experiences <a href="#">view experiences</a></h6>
          <div class="inner-block">
            <div class="top">
              <h2>{{selectedElement.scientificName}}</h2>
              <i class="fa fa-heart"></i>
            </div>
            <div class="box">
              <span>Also known as</span>
              <p>{{selectedElement.elementNames}}</p>
            </div>
            <div class="box">
              <span>Sources</span>
              <p>{{selectedElement.elementSources}}</p>
            </div>
            <div class="box">
              <span>Effects</span>
              <p>{{selectedElement.elementEffects}}</p>
            </div>
            <div class="box">
              <span>Applications</span>
              <p>{{selectedElement.elementApplications}}</p>
            </div>
          </div>
        </div>
        <button class="btn btn-dark">go to element</button>
      </div>
    </div>
  </div>
  <div class="synergies-block">
    <div class="overlay">
      <div class="spinner-border" role="status" *ngIf="synergies.length===0">
        <span class="sr-only">Please wait! Loading...</span>
      </div>
    </div>
    <div class="top">
      <h2>synergies</h2>
      <a href="#">view all</a>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6" *ngFor="let synergy of synergies">
        <div class="box">
          <div class="left">
            <img [src]="synergy.image" alt="" />
          </div>
          <div class="right">
            <div class="top-sec">
              <p>{{synergy.title}}</p> <i class="fa fa-heart purple"></i>
            </div>
            <span>elements</span>
            <h6>cannabis, zanax, pepsi, princols</h6>
            <span class="name">{{synergy.category_title}}</span>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>